nav {
  background: #4a5ec9;
  width: 50%;
  padding: 1em 2em;
  border-radius: 50px;
  margin-top: 3em;
}

.inactive,
.active {
  font-size: 1.2em;
  padding: 1em;
  text-decoration: none;
}
.active {
  color: white;
}
.inactive {
  color: #a2aff9;
}
